body {
    margin: 0;
    padding: 0px;
}

.dark-bg {
    background-color: #1F2937;
    color: white;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    padding-left: 70px;
    padding-right: 70px;
}

#first-section-bold {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin-bottom: 0;
}

.top-header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
}
#header-logo {
    font-weight: bold;
}

.top-picture {
    display: flex;
    flex-direction: row-reverse;
}



.left-first-section {
    display: flex;
     flex-direction: column;
}

.split {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
    height: 100px;
}

.split-2 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

#top-button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 8px;
    border: none;
}

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    justify-content: center;
    padding: 60px 100px;
}

.howdyadoo {
    display: flex;
    flex-direction: row-reverse;
    font-size: 18px;
    font-weight: bold;
}

ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 15px;
}

.h1-second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
}

.image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 45px;

}

.images {
    display: flex;
    flex-direction: column;
}

.blue-box {
    background-color: #3882F6;
    border-radius: 5px;
    padding: 20px 80px;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 80px 180px;
    color: #F9FAF8;
}

.top-line {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.blue-bottom-button {
    display: flex;
}


#bottom-button {
    background-color: #3882F6;
    color: white;
    padding: 6px 24px;
    border-radius: 8px;
    border: 2px solid white;
    display: flex;
}


#action {
    font-weight: bold;
    padding: 0;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

img {
    border-radius: 10px;
}





